<html>
  <head>
    <title>your.namespace.here</title>
    <link type="text/css" rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1 id="namespace">your.namespace.here</h1>
    <div id="namespace-doc">
      <p>
        This is the doc string of the namespace. It would be great if there
        was an overview of functionality provided by the public functions
        that it contains.
      </p>
    </div>
    <div id="publics">
      <div class="var">
        <h2 class="name">my-fn</h2>
        <div class="usages">
          <ul>
            <li><p class="usage">(my-fn x)</p></li>
            <li><p class="usage">(my-fn x y & more)</p></li>
          </ul>
        </div>
        <div class="doc-string">
          <p>
            This is a fine, fine function. I wrote it myself.
          </p>
        </div>
        <div class="examples">
          <ul>
            <li class="example">
              <p class="subj"><span class="lhs">(my-fn "hello")</span></p>
              <p class="pred">
                <span class="arrow">=></span>
                <span class="rhs">"world!"</span>
              </p>
            </li>
            <li class="example">
              <p class="subj"><span class="lhs">(my-fn "goodbye")</span></p>
              <p class="pred">
                <span class="arrow">=></span>
                <span class="rhs">"don't go!"</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
